.box{
    
    width: 350px;
    margin: 50px;
    text-align: center;
    border: 2px solid black;
    
    box-sizing: border-box;
}

.box img{
    
    width: 100%;
}

.box p{
    margin: 20px;
}

.box button{
    margin-bottom: 5px;
}



