.head{
    color: brown;
}

#heading{
    color: aqua;
    background-color: rgb(134, 175, 175);
    /* text based */
    font-size: 40px;
    font-weight: 500;
    /* 100-900 */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    text-align: right;
    letter-spacing: 5px;
    word-spacing: 30px;
    /* line-height: ; */
}

/* to remove underline of a tag */
a{
    text-decoration: none
    color( rgb(87, 53, 53) green blue);
    font-size: 45px;
}

/* same as list */
ul li{
    list-style: none;
}